:root {
    --header-height: 60px;

    --black: #020405;
    --light-gray: #e9ebec;
    --white-gray: #f9f9f9;
    --light-blue: #29b6f6;
    --yellow: #fde74c;
    --green: #9fd356;
    --red: #e55934;
}

html {
    color: var(--black);
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    background: var(--yellow);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px var(--black);
    height: 100%;
}

h2 {
    font-size: 24px;
    letter-spacing: 1px;
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

#game {
    position: fixed;
    left: 0;
    margin-top: var(--header-height);
    display: grid;
    grid-template-columns: minmax(250px, 20fr) 80fr;
    height: calc(100vh - var(--header-height));
    width: 100vw;
}

#sidebar {
    height: calc(100vh - var(--header-height));
    background: var(--light-gray);
    padding: 15px 15px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#stats {
    flex-grow: 1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

#stats div {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
}


button {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    border: 0;
}

button::-moz-focus-inner {
    border: 0;
}

button:not(:disabled):hover {
    cursor: pointer;
}

#sidebar .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
}

#multiplier {
    font-size: 20px;
    text-transform: none;
    background: var(--yellow);
    padding: 12.5px;
    transition: margin 0.05s ease-out;
}

#multiplier:hover {
    box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, .2);
    margin: -2px -2px 0 -2px;
    transition: margin 0.05s ease-in;
}

#next-day {
    font-size: 24px;
    background: var(--light-blue);
    border: 0;
    padding: 10px 0;
    transition: margin 0.05s ease-out;
}

#next-day:hover,
#next-day.rapid-fire {
    box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, .2);
    margin: 0 -2px 2px -2px;
    transition: margin 0.05s ease-in;
}

#stocks {
    background: var(--white-gray);
    padding: 25px;
    display: grid;
    overflow-y: auto;
    grid-template-columns: 50fr 50fr;
    grid-gap: 25px;
}

.stock {
    background: var(--light-gray);
    padding: 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.stock .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.stock .content div {
    width: 50%;
}

.stock .actions {
    display: flex;
    justify-content: center;
}

.stock .actions button {
    width: 175px;
    height: 40px;
    font-size: 16px;
    margin: 0 20px;
}

.stock .actions button:disabled {
    opacity: .5;
}

.stock .actions button:not(:disabled):hover {
    transform: scale(1.07);
    box-shadow: 0 3px rgba(0, 0, 0, .05);
}

[data-action="buy"] {
    background: var(--green);
}

[data-action="sell"] {
    background: var(--red);
}
